#userInfo {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (min-width: 1780px) {

    #userInfo {
        max-width: 20vw;
        background-color: white;
        width: fit-content;
        z-index: 1;
        top: 1vw;
        left: 1vw;
        overflow-x: hidden;
        padding: 10px 10px;
        position: absolute;
        align-content: center;
    }
}

@media (min-width: 1810px) {

    #userInfo {
        max-width: 20.5vw;

    }
}

@media (min-width: 1840px) {

    #userInfo {
        max-width: 21vw;

    }
}

@media (min-width: 1880px) {

    #userInfo {
        max-width: 21.5vw;
    }
}

